html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.calculator{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    max-height: 600px;

    box-sizing: border-box;
    box-shadow: 1px 1px 15px rgba(0,0,0,20%);
}

.calculator--simple{
    background-color: #eeeeee;
}

.calculator__container{
    box-sizing: border-box;
}

.calculator__container--padding{
    padding: 5px;
}

.calculator__item--padding{
    padding: 2px;
}

.screen{
    width: 100%;
    height: 150px;
}

.screen__container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.screen__item{
    height: 100%;
    width: 100%;

    background-color: lightblue;
    border-radius: 5px;
}

.keyboard__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 150px);
}

.keyboard__key{
    flex-basis: 25%;
    flex-grow: 1;
    box-sizing: border-box;
}

.keyboard__button{
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    
    border: 1px solid rgba(0, 0, 0, 30%);
    border-radius: 2px;

    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
}

.keyboard__button:hover{

}

.keyboard__button--clear{
    background-color: rgb(231, 59, 59);
    color: white;
}

.keyboard__button--clear:hover{
    background-color: rgb(255, 0, 0);
}

.keyboard__button--default{
    background-color: #ffffff;
}

.keyboard__button--default:hover{
    background-color: #dddddd
}

@media (min-width: 400px){
    .calculator{
        border-left: 1px solid rgba(0,0,0, 20%);
        border-right: 1px solid rgba(0,0,0, 20%);
    }
}

@media (min-height: 600px){
    .calculator{
        border-top: 1px solid rgba(0,0,0, 20%);
        border-bottom: 1px solid rgba(0,0,0, 20%);
    }
}

@media (min-width: 400px) and (min-height: 600px){
    .calculator{
        border-radius: 3px;
    }
}

